#aboutus {
  padding: 15px;
  .section-title {
    color: #565A5C;
    font-size: 19px;
    font-family: 'BrixSansExtraLight';
    letter-spacing: 3px;
  }
}

.about-text {
  text-align: justify;
  padding-left: 20%;
  padding-right: 20%;
  opacity: 0.9;
  padding-bottom: 20px;
}
