.btn-cta {
  text-decoration: none;
  font-family: 'Circular-Book';
  font-size: 14px;
  color: white;
  background: #F22672;
  padding: .6em 1.4em;
  border-radius: .3em;
  &:hover {
    background: #F22672;
    text-decoration: none;
    color: white;
  }
}

