#header {
  padding: 5px 15px;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  align-items: center;
  .logo {
    flex: 1;
    color: #F94688;
    font-family: 'Circular-Black';
    font-size: 18px;
  }
  .betatext {
    flex: 18;
    font-size: 17px;
    font-family: 'BrixSansExtraLight';
  }
  .langages {
    color: #565A5C;
    align-self: flex-end;
    a {
      color: #565A5C;
      text-decoration: none;
      font-weight: 300;
      font-size: .8em;
      &:hover {
        color: #40B4BA;
      }
    }
    span {
      vertical-align: middle;
    }
  }
}
