<nav id="header">
  <div class="testheader"><span class="logo">BUTRFLY </span><span class="betatext">  beta</span></div>
  <div class="langages">
    <a href="/">EN</a>
    <span>&bullet;</span>
    <a href="/fr">FR</a>
    <span>&bullet;</span>
    <a href="/es">ES</a>
  </div>
</nav>
